<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&family=Inter:wght@800&family=Montserrat:wght@100;400;600;700&family=Roboto&family=Rosario&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="nav">
          <ul class="menu">
            <li class="menu-nav-item">
              <a href="" class="">Home</a>
            </li>
            <li class="menu-nav-item">
              <a href="" class="">About me</a>
            </li>
            <li class="menu-nav-item">
              <a href="" class="">Skills</a>
            </li>
            <li class="menu-nav-item">
              <a href="" class="">Portfolio</a>
            </li>
            <li class="menu-nav-item">
              <a href="" class="">Contacts</a>
            </li>
          </ul>
          <hr />
        </nav>
        <div class="about">
          <ul class="about-menu">
            <li class="about-menu-item">
              <a href="">Denis<br />Novik</a>
            </li>
            <li class="about-menu-item">
              <a href=""
                >UX | UI designer<br />
                24 years old, Minsk</a
              >
            </li>
            <li class="about-menu-item">
              <a href="">RU | ENG</a>
            </li>
          </ul>
          <img src="../images/header/portrait.jpg" alt="" class="portrait" />
        </div>
      </div>
    </header>
    <section class="aboutme">
      <div class="container">
        <h1 class="about-me-hd">About me</h1>
        <p class="about-me-info">
          Hi, I'm Denis – UX/UI designer from Minsk.<br />I'm interested in
          design and everything connected with it.<br /><br /><br />
          I'm studying at courses "Web and mobile design<br />
          interfaces" in IT-Academy.<br /><br /><br />
          Ready to implement excellent projects<br />
          with wonderful people.
        </p>
      </div>
    </section>
    <section class="skills">
      <div class="container">
        <h2 class="skills-hd">Skills</h2>
        <p class="programms">I work in such programms as</p>
        <ul class="skills-list">
          <li class="skills-item">
            <img
              src="../images/skills/photoshop.jpg"
              alt="photoshop"
              class="photoshop"
            />
            <p class="photoshop-p">Adobe<br />Photoshop</p>
            <img src="../images/skills/stars4.svg" alt="" />
          </li>
          <li class="skills-item">
            <img
              src="../images/skills/illustrator.jpg"
              alt=""
              class="illustrator"
            />
            <p class="illustrator-p">Adobe<br />Illustrator</p>
            <img src="../images/skills/stars4.svg" alt="" />
          </li>
          <li class="skills-item">
            <img src="../images/skills/effects.jpg" alt="" class="effects" />
            <p class="effects-p">Adobe<br />After Effects</p>
            <img src="../images/skills/stars4.svg" alt="" />
          </li>
          <li class="skills-item">
            <img src="../images/skills/figma.jpg" alt="" class="figma" />
            <p class="figma">Figma<br /><br /></p>
            <img src="../images/skills/stars4.svg" alt="" />
          </li>
        </ul>
      </div>
    </section>
    <section class="portfolio">
      <div class="container">
        <h2 class="portfolio-hd">Portfolio</h2>
        <ul class="images-list">
          <li class="images-list-item">
            <img src="../images/portfolio/img1.jpg" alt="" class="levis" />
            <p class="levis-page">Online fashion store - Homepage</p>
          </li>
          <li class="images-list-item">
            <img src="../images/portfolio/img2.jpg" alt="" class="reebok" />
            <p class="reebok-page">Reebok Store - Concept</p>
          </li>
          <li class="images-list-item">
            <img src="../images/portfolio/img3.jpg" alt="" class="braun" />
            <p class="braun-page">Braun Landing Page - Concept</p>
          </li>
        </ul>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <h2 class="contacts-hd">Contacts</h2>
        <p class="welcome">
          Want to know more or just chat?<br />You are welcome!
        </p>
        <a href="#" class="button">
          <button class="send-message">Send message</button>
        </a>
        <ul class="links">
          <li class="links-list">
            <img src="../images/footer/in.svg" class="links-list-item" />
          </li>

          <li class="links-list">
            <img src="../images/footer/behance.svg" class="links-list-item" />
          </li>

          <li class="links-list">
            <img src="../images/footer/instagram.svg" class="links-list-item" />
          </li>

          <li class="links-list">
            <img src="../images/footer/dribble.svg" class="links-list-item" />
          </li>
        </ul>
        <p class="end">
          Like me on<br />
          LinkedIn, Instagram, Behance, Dribble
        </p>
      </div>
    </footer>
  </body>
</html>
